AccessModifierOffset:                         -1
AlignAfterOpenBracket:                        Align
AlignArrayOfStructures:                       Right
AlignConsecutiveAssignments:                  Consecutive
AlignConsecutiveBitFields:                    Consecutive
AlignConsecutiveDeclarations:                 Consecutive
AlignConsecutiveMacros:                       Consecutive
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
AlignEscapedNewlines:                         Left
AlignOperands:                                AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
AllowAllArgumentsOnNextLine:                  true
AllowAllParametersOfDeclarationOnNextLine:    true
AllowBreakBeforeNoexceptSpecifier:            OnlyWithParen
AllowShortBlocksOnASingleLine:                Always
AllowShortCaseLabelsOnASingleLine:            true
AllowShortCompoundRequirementOnASingleLine:   true
AllowShortEnumsOnASingleLine:                 true
AllowShortFunctionsOnASingleLine:             All
AllowShortIfStatementsOnASingleLine:          WithoutElse
AllowShortLambdasOnASingleLine:               All
AllowShortLoopsOnASingleLine:                 true
AlwaysBreakBeforeMultilineStrings:            true
AttributeMacros:                              []
BinPackArguments:                             true
BitFieldColonSpacing:                         Both
BreakAdjacentStringLiterals:                  false
BreakAfterAttributes:                         Never
BreakBeforeBinaryOperators:                   NonAssignment
BreakBeforeBraces:                            Attach
BreakBeforeConceptDeclarations:               true
BreakBeforeTernaryOperators:                  true
BreakConstructorInitializers:                 BeforeComma
BreakInheritanceList:                         BeforeComma
BreakStringLiterals:                          true
ColumnLimit:                                  100
CommentPragmas:                               ''
CompactNamespaces:                            false
ConstructorInitializerIndentWidth:            4
ContinuationIndentWidth:                      4
Cpp11BracedListStyle:                         true
DerivePointerAlignment:                       false
DisableFormat:                                false
EmptyLineAfterAccessModifier:                 Never
EmptyLineBeforeAccessModifier:                Always
FixNamespaceComments:                         true
ForEachMacros:                                []
IfMacros:                                     []
IncludeBlocks:                                Regroup
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   false
  - Regex:           '.*'
    Priority:        3
    SortPriority:    0
    CaseSensitive:   false
IncludeIsMainRegex: '([-_](test|unittest))?$'
IncludeIsMainSourceRegex: ''
IndentAccessModifiers:                        false
IndentCaseBlocks:                             false
IndentCaseLabels:                             true
IndentExternBlock:                            NoIndent
IndentGotoLabels:                             false
IndentPPDirectives:                           BeforeHash
IndentRequires:                               true
IndentWidth:                                  2
IndentWrappedFunctionNames:                   true
InsertBraces:                                 false
InsertNewlineAtEOF:                           true
KeepEmptyLinesAtEOF:                          true
KeepEmptyLinesAtTheStartOfBlocks:             false
LambdaBodyIndentation:                        Signature
Language:                                     Cpp
LineEnding:                                   LF
MacroBlockBegin:                              ''
MacroBlockEnd:                                ''
MaxEmptyLinesToKeep:                          1
NamespaceIndentation:                         None
NamespaceMacros:                              []
ObjCBinPackProtocolList:                      Never
ObjCBlockIndentWidth:                         2
ObjCBreakBeforeNestedBlockParam:              true
ObjCSpaceAfterProperty:                       false
ObjCSpaceBeforeProtocolList:                  true
PPIndentWidth:                                -1
PackConstructorInitializers:                  BinPack
PenaltyBreakAssignment:                       2
PenaltyBreakBeforeFirstCallParameter:         1
PenaltyBreakComment:                          300
PenaltyBreakFirstLessLess:                    120
PenaltyBreakOpenParenthesis:                  0
PenaltyBreakString:                           1000
PenaltyBreakTemplateDeclaration:              10
PenaltyExcessCharacter:                       1000000
PenaltyIndentedWhitespace:                    0
PenaltyReturnTypeOnItsOwnLine:                200
PointerAlignment:                             Left
QualifierAlignment:                           Custom
QualifierOrder:                               ['static', 'inline', 'constexpr', 'volatile', 
                                               'const', 'type', 'restrict']
RawStringFormats:
  - Language:             Cpp
    Delimiters:
      - cc
      - CC
      - cpp
      - Cpp
      - CPP
      - 'c++'
      - 'C++'
    CanonicalDelimiter: ''
    BasedOnStyle:         google
  - Language:             TextProto
    Delimiters:
      - pb
      - PB
      - proto
      - PROTO
    EnclosingFunctions:
      - EqualsProto
      - EquivToProto
      - PARSE_PARTIAL_TEXT_PROTO
      - PARSE_TEST_PROTO
      - PARSE_TEXT_PROTO
      - ParseTextOrDie
      - ParseTextProtoOrDie
      - ParseTestProto
      - ParsePartialTestProto
    CanonicalDelimiter:   pb
    BasedOnStyle:         google
ReferenceAlignment:                           Pointer
ReflowComments:                               true
SeparateDefinitionBlocks:                     Leave
ShortNamespaceLines:                          1
SortIncludes:                                 CaseSensitive
SortUsingDeclarations:                        true
SpaceAfterCStyleCast:                         false
SpaceAfterLogicalNot:                         false
SpaceAfterTemplateKeyword:                    true
SpaceAroundPointerQualifiers:                 Default
SpaceBeforeAssignmentOperators:               true
SpaceBeforeCaseColon:                         false
SpaceBeforeCpp11BracedList:                   false
SpaceBeforeCtorInitializerColon:              true
SpaceBeforeInheritanceColon:                  true
SpaceBeforeParens:                            ControlStatementsExceptControlMacros
SpaceBeforeRangeBasedForLoopColon:            true
SpaceBeforeSquareBrackets:                    false
SpaceInEmptyBlock:                            false
SpacesBeforeTrailingComments:                 4
SpacesInAngles:                               Never
SpacesInLineCommentPrefix:
  Minimum:                1
  Maximum:                -1
SpacesInParens:                               Never
SpacesInSquareBrackets:                       false
Standard:                                     c++20
StatementAttributeLikeMacros:                 []
StatementMacros:                              []
TabWidth:                                     4
TypenameMacros:                               []
UseTab:                                       Never
WhitespaceSensitiveMacros:                    []
